/* ***************************************
                Global
*************************************** */

html {
    background-color: #000C26;
    background-image: url('../images/Data%20Stream%20Big%20Horizontal%20Video%20Clip%20576227%20Pond5.jpeg');
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

main.wrapper {
    background-color: #C4C5C7;
    overflow: hidden;
    margin: 20px auto 10px auto;
    width: 95%;
    border: 2px solid #000C26;
    border-radius: 5px;
}


h1 {
    font-weight: bold;

}

h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    padding: .5em;
}

p {
    margin: 1em;
    /* Top Right Bottom Left (TRBL) */
}

a {
    color: #226666;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #3C374E;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* --------------------------------------
        Start - Research pages
---------------------------------------*/


#timeline img {
    width: 90%;
    height: auto;
}

figcaption {
    text-align: center;
}

div.code {
    float: left;
    width: 25%;

}

.two-col {
    float: right;
    width: 70%;
    margin: 5px;
}

#two-col {
    max-width: 100%;
}

.clear_paragraph {
    clear: both;
    padding-top: 1em;
}

article.research {
    float: left;
    background: #fff;
    width: 58%;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
}

aside.index,
aside.research {
    float: right;
    background: RGB(136, 124, 175, 0.3);
    margin: 10px 10px 20px 0;
    width: 38%;
    border: 1px solid #000C26;
    border-radius: 5px;
}

aside.table {
    clear: both;
    width: 95%;
    margin: auto;
    padding: 5px;
    border: 1px solid #000C26;
    border-radius: 5px;
    overflow-x: auto;
    background-color: #407F7F;

}

aside.cites {
    background: RGB(136, 124, 175, 0.5);
    margin: 10px 10px 20px 0;
}

.cites li {
    font-size: .8em;
}

table {
    width: 100%;
    border: 1px solid #000C26;
    margin: auto;

}

.table h3 {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #887CAF;
    border-radius: 5px;
}

tr:nth-child(even),
thead tr {
    background-color: #d3d3d3;
    color: #000;
}

tr:nth-child(odd),
thead tr {
    background-color: #F7EDED;
    color: #000;
}

td,
th {
    border: 1px solid #000;
    padding: .5em;

}

.col1 {
    white-space: nowrap
}


th {
    color: #0D4D4D;
    text-align: left;
    font-size: 1.3em;

}

td:first-of-type {
    font-size: 1.1em;
    font-weight: bold;
}




/* --------------------------------------
        Start - Google pages
---------------------------------------*/

aside.google {
    float: right;
    border: 1px solid #000C26;
    border-radius: 5px;
    margin: 10px 20px 20px 0;
    padding-bottom: 20px;
    width: 35%;
    text-align: center;
    background-color: RGB(136, 124, 175, 0.5);

}

.google h3 {
    text-align: left;
    padding-left: 2em;
}

.event {
    width: 90%;
    border: 1px dotted #000C26;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #669999;
}

.event li {
    list-style-type: none;
}



/* --------------------------------------
        Start - Forms
---------------------------------------*/

/* keeps form from bunching up to left */

@media all and (min-width:501px) {
    main.wrapper form {
        margin: 22.8px;

    }
}

/* Style inputs, select elements and textareas */
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}



/* --------------------------------------
        End Forms
---------------------------------------*/



/* --------------------------------------
    Start - Embed Responsively styles
---------------------------------------*/

.embed-container {
    float: left;
    position: relative;
    margin-left: 1em;
    border: 2px solid #25274d;
    border-radius: 5px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 60%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}



/* Hide agenda view of calendar */

div.embed-container.agenda-view {
    display: none;
}

h3.agenda-view {
    display: none;
}

/* End - Hide agenda view */



/* --------------------------------------
    End - Embed Responsively styles
---------------------------------------*/


div.dot {
    float: right;
    margin-right: 1em;
    overflow: auto;

}

div.dot iframe {
    border: 0;
    overflow: scroll;
}




/* --------------------------------------
   FontAwesome Icons
---------------------------------------*/

i.logo {
    color: #000C26;
    /* a less boring color */
    text-shadow: 1px 1px #7887AB;
    /* gives the icon a little depth */
    /* font-size:1.25em; font awesome icons are text, so make it a bit bigger */
    margin-left: 1%;
    /* this keeps the icon from being squeeezed to the left */
    margin-right: 1%;
}

/* ***************************************
        Start - questionnaire.php
*************************************** */

div.form_wrapper {
    float: left;
    width: 58%;
    border: 2px solid #000C26;
    margin-left: 10px;
    background-color: #669999;
    border-radius: 5px;
}

#heard_select {
    padding-bottom: 20px;
}

#services_fieldset {
    float: left;
}

#time_fieldset {
    float: right;
}

#add_info {
    clear: both;
    padding-top: 20px;

}

/* --------------------------------------
   Questionnaire - Responsive
---------------------------------------*/

@media all and (max-width:1150px) {

    #services_fieldset {
        float: none;
        width: 90%;

    }

    #time_fieldset {
        float: none;
        width: 90%;

    }

}


/* ***************************************
        Start - contact.php
*************************************** */

div.contact_form {
    width: 60%;
    margin: 0 auto;
}

/* ***************************************
        Start - reCAPTCHA
*************************************** */

/* writes to small text above reCAPTCHA upon failure */

.dateFeedback {
    font-style: italic;
    font-size: 70%;
    font-weight: bold;
    color: #f00;
}

input:required {
    border: 1px solid red;
}

input:optional,
textarea:optional {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input[type="Submit"],
input[type="button"] {
    background-color: #d3d3d3;
    border-radius: 5px;
    border: solid 2px #ccc;
    padding: .5em 0.75em;
    margin: 5px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 2px;
    /*    max-width: 350px;*/
}

legend {
    margin-left: 0.5em;
    padding: 0.2em 0.5em;
    /*    border-left: 1px solid #ccc;*/
    /*    border-right: 1px solid #ccc;*/
}



/* ***************************************
            Responsive
*************************************** */

/* --------------------------------------
   Calendar rules for lower resolution
---------------------------------------*/

@media all and (max-width:780px) {

    /* Show agenda view*/
    div.embed-container.agenda-view {
        display: block;
    }

    h3.agenda-view {
        display: block;
    }

    /* Hide month view */
    div.embed-container.month-view {
        display: none;
    }

    h3.month-view {
        display: none;
    }
}

/* --------------------------------------
    Resolution - 1151px +
---------------------------------------*/

@media all and (min-width: 1151px) {}


/* --------------------------------------
    Resolution - 855px to 1150
---------------------------------------*/

@media all and (min-width:855px) and (max-width:1150px) {

    h1 {
        width: 100%;
        padding-left: 1%;
    }

    div.code {
        margin: 0 auto;
        width: 90%;
        float: none;
    }

    .two-col {
        margin: 0 auto;
        width: 90%;
        float: none;
    }

    article.research,
    aside.research,
    aside.google {
        float: none;
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .cites li {
        font-size: 1em;
    }

    div.dot {
        float: none;
    }

    /* Responsive Calendar */

    .embed-container {
        float: none;
        width: 90%;
        margin: 0 auto;
    }


    /* Responsive Forms */

    #heard_select {
        padding-bottom: 20px;
    }

    #services_fieldset {
        float: none;
        display: block;
    }


    #time_fieldset {
        float: none;
        display: block;
    }
}




/* --------------------------------------
    Resolution - up to 854px
---------------------------------------*/

@media all and (max-width:854px) {
    html {
        background-color: #000C26;
        background-image: url();
    }


    main.wrapper {
        width: 98%;
        margin: 5% auto;
    }

    h1 {
        width: 100%;
        padding-left: 1%;
    }

    div.code {
        margin: 0 auto;
        width: 100%;
        float: none;
    }

    .two-col {
        float: none;
        margin: 0 auto;
        width: 100%;

    }


    article.research,
    aside.index,
    aside.research,
    aside.google {
        float: none;
        display: block;
        width: 95%;
        margin: 10px auto;
    }

    .cites li {
        font-size: 1em;
    }

    /* Responsive Calendar */
    .embed-container {
        float: none;
        width: 90%;
        margin: 0 auto;
    }


    /* Responsive Forms */

    div.form_wrapper {
        float: none;
        width: 95%;
        margin: 10px auto;
    }

    #heard_select {
        padding-bottom: 20px;
    }

    #services_fieldset {
        float: none;
    }


    #time_fieldset {
        float: none;
    }


}
